.company-division .card{
    width: 75%;
    margin: 15px 0;
    border: 0.5px solid #707070;
    border-radius: 8px;
}
#chart {
    margin: 0 auto;
    height: 70%;
}
.drop-number {
    float: right;
    color: #B0B0B0;
}